main {
  min-height: 50vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.start-img {
  height: auto;
  width: 100%;
}

/* Animation css */

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  color: 'black' !important
}

.carousel-caption {
  position: absolute;
  top: -20px;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel a {
  margin: 0 auto;
}

.pagination {
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.site-footer {
  background-color: white;
  color: #000 !important;
}

.footer-heading,
.list-unstyled,
.smoothscroll,
.icon-twitter {
  color: #000;
}

.iconss {
  display: flex;
  color: #000 !important;
  padding: 10px;
  margin-bottom: 10px !important;
}

.image-wrapper {
  margin: 0px 30px;
}

.image-wrapper img {
  width: 80%;
}

.about-img {
  height: 85%;
}

.about-text {
  font-size: 21px;
}

.backgroundHeader {
  border-bottom: 5px solid #5585a9;
}

.footerContainer {
  border-top: 5px solid #5585a9;
  padding: 25px;
}

.heroImage {
  width: 100%;
  height: 500px;
}

.productImage {
  max-width: 100%;
  max-height: 100%;
}

.images {
  width: 70%;
  height: 70%;
}

.imageContainer {
  height: 300px;
  width: 325px;
}

.bannerImaageAdmin {
  width: 234px;
    height: 100px;
}

.mainCard {
  border: 0.1rem #ffffff solid;
  border-radius: 0.5rem;
}

.cardBody {
  padding: 1rem;
}

.cardBody>* {
  margin-bottom: 0.5rem;
}

.big-image {
  max-width: 500px;
  overflow: hidden;
  margin: 25px;
  height: auto;
}

#featured {
  width: 200px;
  transition: transform .2s;
  /* Animation */
  display: block;
  object-fit: cover;
}

.searchBoxStyle {
  align-items: center;
  width: 700px !important;
}

.thumb {
  width: 100%;
  height: 100px;
  cursor: pointer;
  margin: 10px 24px;
}

/* Order CSS */

.orderMainCard {
  margin-bottom: 20px;
}

.orderText {
  margin-top: 20px;
  margin-bottom: 20px;
}

.a-spacing-base, .a-ws .a-ws-spacing-base {
  margin-bottom: 12px!important;
}

.a-box-group>.a-box.a-first, .a-box-group>.a-box:first-child, .a-box-group>.a-box:first-of-type {
  border-radius: 8px 8px 0 0;
  margin-top: 0;
}

.a-box, .a-box-group>.a-box.a-color-alternate-background, .a-box-group>.a-box.a-color-offset-background {
  border: 1px #D5D9D9 solid;
}

.a-box-group>.a-box {
  margin-top: -1px;
  border-radius: 0;
}

.a-box.a-color-alternate-background, .a-box.a-color-offset-background {
  border: 1px #F0F2F2 solid;
  background-color: #F0F2F2!important;
}

.a-color-offset-background {
  background-color: #f6f6f6!important;
}

.a-box {
  display: block;
  border-radius: 8px;
  background-color: #fff;
}

.a-box-group>.a-box.a-first>.a-box-inner, .a-box-group>.a-box:first-child>.a-box-inner, .a-box-group>.a-box:first-of-type>.a-box-inner {
  border-radius: 8px 8px 0 0;
}

.a-box .a-box-inner {
  border-radius: 8px;
  position: relative;
  padding: 14px 18px;
}

.a-fixed-right-grid {
  position: relative;
}

.a-fixed-left-grid-inner, .a-fixed-right-grid-inner {
  position: relative;
  padding: 0;
}

.a-fixed-left-grid-inner:after, .a-fixed-left-grid-inner:before, .a-fixed-right-grid-inner:after, .a-fixed-right-grid-inner:before {
  display: table;
  content: "";
  line-height: 0;
  font-size: 0;
}

.a-fixed-right-grid .a-col-left {
  width: 100%;
  padding-right: 3.5%;
}

.a-fixed-left-grid-col, .a-fixed-right-grid-col {
  position: relative;
  overflow: visible;
  zoom: 1;
  min-height: 1px;
}

.a-row {
  width: 100%;
}

.a-row:after, .a-row:before {
  display: table;
  content: "";
  line-height: 0;
  font-size: 0;
}

.a-row .a-span3, .a-ws .a-row .a-ws-span3 {
  width: 23.448%;
}

.a-ws div.a-column, div.a-column {
  margin-right: 2%;
  float: left;
  min-height: 1px;
  overflow: visible;
}

.a-row .a-span2, .a-ws .a-row .a-ws-span2 {
  width: 14.948%;
}

.a-ws .a-ws-span12, div.a-column.a-span-last {
  margin-right: 0;
  float: right;
}

.a-column.a-span-last {
  margin-right: 0;
  float: right;
}

.a-row .a-span7, .a-ws .a-row .a-ws-span7 {
  width: 57.448%;
}

.a-ws div.a-column, div.a-column {
  margin-right: 2%;
  float: left;
  min-height: 1px;
  overflow: visible;
}

.a-row {
  width: 100%;
}

.a-size-mini {
  font-size: 12px!important;
  line-height: 16px!important;
}

.a-row:after, .a-row:before {
  display: table;
  content: "";
  line-height: 0;
  font-size: 0;
}

.order-info .label {
  text-transform: uppercase;
}

.a-color-secondary, .a-color-tertiary {
  color: #565959!important;
}

.a-row:after {
  clear: both;
}

.a-row:after, .a-row:before {
  display: table;
  content: "";
  line-height: 0;
  font-size: 0;
}

.a-row {
  width: 100%;
}

.a-size-base {
  font-size: 14px!important;
  line-height: 20px!important;
}

.addRightSide {
  width: 290px;margin-right: -290px;float: left;
}
.a-box-group>.a-box.a-first, .a-box-group>.a-box:first-child, .a-box-group>.a-box:first-of-type {
  border-radius: 8px 8px 0 0;
  margin-top: 0;
}
.a-box, .a-box-group>.a-box.a-color-alternate-background, .a-box-group>.a-box.a-color-offset-background {
  border: 1px #D5D9D9 solid;
}
.a-box-group>.a-box {
  margin-top: -1px;
  border-radius: 0;
}
.a-box.a-color-alternate-background, .a-box.a-color-offset-background {
  border: 1px #F0F2F2 solid;
  background-color: #F0F2F2!important;
}
.a-color-offset-background {
  background-color: #f6f6f6!important;
}
.a-box {
  display: block;
  border-radius: 8px;
  background-color: #fff;
}

.a-box-group>.a-box {
  margin-top: -1px !important;
  border-radius: 0;
}

.a-box {
  display: block;
  border-radius: 8px;
  background-color: #fff;
}
.a-box, .a-box-group>.a-box.a-color-alternate-background, .a-box-group>.a-box.a-color-offset-background {
  border: 1px #D5D9D9 solid;
}

.a-box .a-box-inner {
  border-radius: 8px;
  position: relative;
  padding: 14px 18px;
}

.shipment-top-row {
  min-height: 30px;
  position: relative;
}

.a-row {
  width: 100%;
}

.orderDetailBox {
  margin-right: 230px;
  padding-right: 20px;
}

.a-color-base {
  color: #0F1111!important;
}
.a-size-medium {
  text-rendering: optimizeLegibility;
}

.a-size-medium {
  font-size: 18px!important;
  line-height: 24px!important;
}
.a-text-bold {
  font-weight: 700!important;
}

.a-color-success {
  color: #007600!important;
}

.buttons {
  width: 100px;
}

.shipment-top-row .actions {
  position: absolute;
  bottom: 0;
  right: 0;
}

.a-spacing-top-medium {
  margin-top: 16px!important;
}

.a-fixed-right-grid {
  position: relative;
}

.a-grid-vertical-align.a-fixed-right-grid-inner {
  display: table !important;
  table-layout: fixed;
  zoom: 1;
  /* border-collapse: collapse; */
  width: 100% !important;
}

.a-fixed-right-grid-inner {
  position: relative;
  padding: 0;
}

.a-grid-top.a-fixed-right-grid-inner>.a-fixed-right-grid-col, .a-grid-top.a-row>div.a-column {
  vertical-align: top;
}

.a-grid-vertical-align.a-fixed-right-grid-inner>.a-fixed-right-grid-col {
  float: none!important;
  display: table-cell!important;
  zoom: 1;
}

.a-fixed-right-grid .a-col-left {
  width: 100%;
  padding-right: 3.5%;
}

.a-fixed-left-grid-col, .a-fixed-right-grid-col {
  position: relative;
  overflow: visible;
  zoom: 1;
  min-height: 1px;
}

.a-spacing-none, .a-ws .a-ws-spacing-none {
  margin-bottom: 0!important;
}

.a-fixed-left-grid {
  position: relative;
}

.a-fixed-left-grid-inner, .a-fixed-right-grid-inner {
  position: relative;
  padding: 0;
}

.a-fixed-right-grid .a-fixed-left-flipped-grid .a-col-left, .a-fixed-right-grid .a-fixed-left-grid .a-col-left {
  padding-right: 0;
}
.a-fixed-right-grid .a-col-left {
  width: 100%;
  padding-right: 3.5%;
}
.a-text-center {
  text-align: center!important;
}
.a-fixed-left-grid-col, .a-fixed-right-grid-col {
  position: relative;
  overflow: visible;
  zoom: 1;
  min-height: 1px;
}

.image-left {
  padding-left: 100px !important;
}

.newImageLeft {
  width: 100px !important;
    margin-left: -100px !important;
    float: left !important;
}

.a-fixed-left-grid .a-col-right {
  width: 100%;
  padding-left: 3.5%;
}
.a-fixed-left-grid-col, .a-fixed-right-grid-col {
  position: relative;
  overflow: visible;
  zoom: 1;
  min-height: 1px;
}

.a-grid-top.a-fixed-left-grid-inner>.a-fixed-left-grid-col, .a-grid-top.a-fixed-right-grid-inner>.a-fixed-right-grid-col, .a-grid-top.a-row>div.a-column {
  vertical-align: top;
}

.a-grid-vertical-align.a-fixed-left-grid-inner>.a-fixed-left-grid-col, .a-grid-vertical-align.a-fixed-right-grid-inner>.a-fixed-right-grid-col {
  float: none!important;
  display: table-cell !important;
  zoom: 1;
}

.a-fixed-left-grid-col, .a-fixed-right-grid-col {
  position: relative;
  overflow: visible;
  zoom: 1;
  min-height: 1px;
}

.buttonRight {
  width: 230px !important;
    margin-right: -230px;
    float: left;
}

.a-button-inner {
  display: block;
  position: relative;
  overflow: hidden;
  height: 29px;
  border-radius: 2px;
}

.a-button:not(.a-button-toggle) .a-button-inner {
  border-radius: 7px;
  background: 0 0;
  box-shadow: none;
}

.bottomBoxCard {
  margin-top: -12px;
}



.thumbnailFinal:hover {
  top: -25px;
  left: -35px;
  width: 500px;
  height: auto;
  display: block;
  z-index: 999;
}

.thumbnail {
  width: 90px;
  height: 100%;
  display: block;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-right: 5px;
  opacity: 0.7;
  border-radius: 5px;
}

.thumbnail:hover {
  opacity: 1;
}

.a-divider.a-divider-break {
  text-align: center;
  position: relative;
  top: 2px;
  padding-top: 1px;
  margin-bottom: 14px;
  line-height: 0;
}
.a-divider.a-divider-break h5 {
  line-height: 1;
  font-size: 12px;
  color: #767676;
  font-weight: 400;
  z-index: 2;
  position: relative;
  display: inline-block;
  background-color: #fff;
  padding: 0 8px 0 7px;
}

.createBtn {
  color: #1a1a1a !important;
    background-color: #ececec !important;
    border-color: #e6e5e5 !important;
}

.loginCard {
  padding: 40px;
  margin-bottom: 20px;
}

.emptyCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-divider.a-divider-break:after {
  content: "";
  width: 100%;
  background-color: transparent;
  display: block;
  height: 1px;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  z-index: 1;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {

  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

/* for desktop */
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 95%;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 16px;
}

.bannerImageAdmin {
  width: 20%;
}

.bannerImageSection {
  margin-top: 27%;
}

.profileUpdateButton {
  margin-bottom: 20px;
}

.deleteButton {
  display: inline-block;
  margin-left: 10px;
}

.adminButtons {
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* for mobile */
@media screen and (max-width: 767px) {
  .whatsapp-icon {
    margin-top: 10px;
  }

  .whatsapp_float {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 86%;
    font-size: 22px;
  }
}



@media only screen and (max-width: 600px) {
  .heroImage {
    width: 100%;
    height: 200px;
  }

  .paginationSmallMobile {
    margin-left: 350px;
  }

  .searchBoxStyle {
    margin: 10px 0px;
    box-sizing: border-box;
    width: 100% !important;
  }

  .btnStyle {
    box-sizing: border-box;
    width: 100% !important;
    margin-top: 10px;
  }
}